.customizerWrapper{
  display: flex;
  justify-content: space-around;
  gap:10px;
}
.imagespatcheswrapper {
  display: block;
}
.imageDiv {
  position: relative;
  height: 254px;
  width: 300px;
  border: 1px solid #efefef;
  border-radius: 5px;
}
.sourceImage{
  width: 100%;
  height: 100%;
  display: block;
  margin: auto;
  object-fit: contain;
}
.centerBox{
  position: absolute;
  width: 32%;
  height: 45%;
  border: 1px dashed #ff0303;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.backcenterBox{
  position: absolute;
  width: 32%;
  height: 45%;
  border: 1px dashed #ff0303;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.controller {
  position: relative;
  width: 100%;
  height: 20px;
  margin: 25px 0;
}

.controllerButton {
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  background-color: #333;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.checkboxes{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.checkboxesLabel{
  font-size: 15px;
}
.checkboxesInput{
  height: 15px;
  width: 15px;
  cursor: pointer;
  margin: 0;
}

.checkboxesInput{
  accent-color: black !important;
}
.patchestableWrrapper{
  border-top: 1px solid #c1c1c1;
  padding: 50px 0;
}
.patchestableWrrap{
  width: 90%;
  margin: 0 auto;
}
.mainHeader{
  width: fit-content;
  font-size: 20px;
}
.submitBtn{
  width:40%;
}
.variantsSizeheading{
  margin: 20px 0;
  font-size: 18px;
}
.imageform{
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  flex-direction: column;
  gap: 20px;
}
.colortitle{
  font-size: 15px;
  background: #f2f2f2;
  padding: 9px 16px;
  margin-bottom: 8px;
  border-bottom: 1px solid #dfdfdf;
}
.colorvariantsimg{
  height: 100px;
  width: 100px;
  border-radius: 13px;
  border: 1px solid #a3a3a3;
  object-fit: contain;
  margin-bottom: 20px;
}

.colorvariantform{
  height: fit-content;
  width: fit-content;
  background: #e9e9e9;
  padding: 25px 40px;
  border-radius: 11px;
}
.mainwrapper{
  margin: 20px 40px;
}
.dropzonetitle{
  font-size: 20px;
  border-bottom: 1px solid;
  width: fit-content;
  margin: 8px 0;
  font-weight: 600;
}
.colorvariantsbtn{
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin: 20px 0px;
}
.colorvariantsbtnlabel{
  font-size: 15px;
  color: black;
  font-weight: 600;
}
.imageuploadbtn{
  margin-bottom: 20px;
}
.patchestable {
  border-collapse: collapse;
  width: 100%;
}
.patchestable th, .patchestable td{
  border-bottom: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.patchestable th {
  background-color: #f2f2f2;
}
.colorvariantsdataImg{
height: 30px;
background: #ffffff;
border-radius: 5px;
width: fit-content;
display: flex;
align-items: center;
justify-content: center;
}
.colorvariantsdataImg > img{
  height: 100%;
  width:100%;
  object-fit: cover;
}
.colorvariantsmainwrapper{
display: flex;
width: 100%;
justify-content: space-around;
border-top: 1px solid #d8d8d8;
padding-top: 30px;
}
.patchestableHeading{
margin-bottom: 15px;
font-size: 17px;
}
.colorvariantsdata{
  width: 50%;
}
.colorvariants{
  width: fit-content;
}
.mainparentHeader{
position: relative;
}
.framwrapper{
position: absolute;
}
.backlink{
text-decoration: none;
margin-bottom: 5px;
}
.btnColorwrapper{
display: flex;
flex-direction: column;
gap: 10px;
margin-top: 50px;
}
.btnColorwrapper{
font-size: 15px;
font-weight: 600;
}
.btnlable{
font-size: 15px;
font-weight: 600;
}
.uploadimagebtn{
margin: 10px 0;
}
.imageswrapper{

display: flex;
gap: 20px;
margin-bottom: 10px;
}
.images{
height: 90px;
width: 90px;
}
.images > img{
width: 100%;
height: 100%;
object-fit: cover;
}
@media screen and (max-width: 768px){
.customizerWrapper{
  flex-direction: column;
}
.controller{
  margin: 50px 0;
}
.colorvariantsmainwrapper{
  flex-direction: column;
}
.colorvariantsdata{
  width: 100%;
}
.colorvariants{
  width: 100%;
  margin-top: 31px;
}
}
